/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter), 'sans-serif';
  font-variation-settings: var(--Inter-weight-text);
}

.header {
  width: clamp(23.438rem, 100vw, 90rem);
  padding-bottom: 100px;
  margin-top: 100px;
}

.header h1 {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  font-weight: 400;
  font-family: var(--PressStart2P);
  vertical-align: bottom;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  font-weight: 400;
  font-family: var(--PressStart2P);
  vertical-align: bottom;
  text-transform: uppercase;
}

.name {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid black 2px;
  padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem) clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
  justify-self: center;
  align-items: center;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  padding: clamp(0.188rem, 0vw + 0.188rem, 0.188rem) 10px clamp(0.313rem, -0.188vw + 0.357rem, 0.188rem) 10px;
  padding-top: 6px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.post {
  width: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  border: solid 2px black;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

img {
  width: 100%;
  height: clamp(43.813rem, 0vw + 43.813rem, 43.813rem);
  object-fit: cover;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
}

main {
  display: flex;
  justify-self: center;
  align-content: center;
  flex-direction: column;
  gap: 50px;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--PressStart2P);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 0;
  padding-top: 26px;
}

button svg {
  width: 100%;
}

.button__text {
  border: 2px solid black;
  padding: 9px 33px;
  width: 100%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 25px;
}

.save {
  border: 2px solid black;
}

@media (min-width: 375px) {
  .header {
    width: 100%;
  }
}