/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), 'sans-serif';
  font-variation-settings: 'wght' var(--Inter-weight-text);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  padding-bottom: 100px;
  margin-top: 100px;
}

.header h1 {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  font-weight: 400;
  font-family: var(--accent-font), fantasy;
  vertical-align: bottom;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  font-weight: 400;
  font-family: var(--accent-font), fantasy;
  vertical-align: bottom;
  text-transform: uppercase;
}

.name {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid black 2px;
  padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem) clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
  justify-self: center;
  align-items: center;
}

h3 {
  font-variation-settings: 'wght' 700;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  padding: clamp(0.188rem, 0vw + 0.188rem, 0.188rem) 10px clamp(0.313rem, -0.188vw + 0.357rem, 0.188rem) 10px;
  padding-top: 6px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.post {
  width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  border: solid 2px black;
  background-color: white;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

img {
  width: 100%;
  height: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  object-fit: cover;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.buttons {
  display: flex;
  margin-top: 25px;
  gap: 5px;
}

button {
  outline: none;
  border: none;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  padding: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
}

button svg {
  width: 100%;
}

.card__like-button .button__text {
  border: 2px solid black;
  padding: 0;
  width: 100%;
}

.button__text {
  border: 2px solid black;
  padding: 10px 33px;
  width: 100%;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 2;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 24px;
}

.photo-post {
  position: relative;
}

.lable {
  position: absolute;
  top: 28px;
  right: 35px;
  color: black;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-shadow: 
    -1px -1px 0 #fff,
     0   -1px 0 #fff,
     1px -1px 0 #fff,
     1px  0   0 #fff,
     1px  1px 0 #fff,
     0    1px 0 #fff,
    -1px  1px 0 #fff,
    -1px  0   0 #fff;
  mix-blend-mode: hard-light;
  opacity: 50%;
}

.button-save {
  display: flex;
  border: 2px solid black;
  gap: 10px;
  width: 337px;
  padding: 16px 19px;
  margin-bottom: 103px;
  background-color: #fff;
}

.save {
  padding: 0;
  border: none;
}

.button-save .floppy {
  width: 21px;
  mix-blend-mode: difference;
  height: auto;
  color: white;
}

.dialog-id[open] {
  width: 353px;
  padding: 26px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-container .floppy {
  width: 76px;
}

.dialog-information p {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-information {
  display: flex;
  gap: 20px;
}

.button-agree {
  border: solid 2px black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12.5px 0;
  text-transform: uppercase;
}

.dialog-id[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@supports((text-stroke: var(--border-lable)) or (-webkit-text-stroke: var(--border-lable))) {
  .lable {
    text-shadow: none;
    -webkit-text-stroke: var(--border-lable);
    text-stroke: var(--border-lable);
  }
}

/* Адаптивность */

@media (width <= 375px) {
  .header {
    width: 100%;
  }

  .button-save {
    width: 310px;
    flex-direction: column;
  }

  .button-save .floppy {
    width: 28px;
  }
}

/* Фильтры на фото */

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-rotate {
  filter: hue-rotate(-90deg);
}

.filter-mix {
  filter: opacity(0.8) brightness(200%);
}

/* Состояния кнопок
Состояние focus-visible*/

.button-animation:focus-visible {
  outline: none;
  box-shadow: 2px 2px black;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px #000 solid;
  transition: border 0.3s ease;
}

.card__icon-button {
  border: 2px solid transparent;
}

/* Состояние hover*/

.button-click::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.button-click:hover::before {
  transform: translateX(100%);
}

.button-click {
  color: #000;
  background-color: #000;
  border: #000 2px solid;
  position: relative;
  overflow: hidden;
}

.agree {
  border: none;
  padding: 0;
}

/* Анимация сердца */

.sparks {
  opacity: 0%;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.main-body {
  transition: fill linear 0.3s;
}

.like-icon:hover .core {
  fill: var(--contour);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/* Анимация по клику */

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0s;
}

.like-icon.is-liked .sparks {
  animation-delay: 0.3s;
  animation-name: animation_sparks;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
}

.like-icon.is-liked .heart {
  animation-delay: 0.1s;
  animation-name: full_animation;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  transform-origin: center;
}